language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.5"
  - "3.6"
  - "3.7"

# command to install dependencies
install:
  - "pip install ."

# command to run tests
script: nosetests
